# 1. What is Data Science? 

## 1.1 Foundation of Big Data 

Big Data refers to the dynamic, large and disparate volumns of data being created by peope, tools, and machines. It requires new, inoovative, and scalable technology to collect, host, and analytically process that vast amount of data gathered in order to derive real-time business insights that relate to consumers, risk, profit, performance, productivity management, and enhanced share holder's value. 

## 1.2 V's of Big Data

- Velocity : The speed that which data accumulates 
- Volume : The scale of the data, or the increase in the amount of data stored. 
- Variety : The diversity of the data from different souces, machine, peoper, and processes 
- Veracity : The quality and origin of data, and its conformity to facts and accuracy
- Value : Our ability and need to turn data into value

## 1.3 Difference in Data Science 

Data Science is the process and method for extracting knowledge and insights from large volume of disparate data. 

- Big Data : Dataset that are so massive, so quickly built, and so varied that they defy traditional analysis methods. 
- Data Mining : The process of automatically searching and analyzing data, discovering previously unrevealed patterns. 
- Machine Learning : Subset of AI that uses computer algorithms to analyze data and make intelligent decisions based on what it is learned without explicitly programmed and also enables machines to solve problems on their own and make accurate predictions using provided data.
- Deep Learning : Specialized subset of machine learning that uses layered neural networks to simulate human decision making. And it enables AI systems to continuously learn on the job and improve the quality and accuracy of results by determining whether decision were correct.

# 2. Tools for Data Science 

## 2.1 Language 

We need to study languages on what company we work for, what role we have, and the age of our existing application. 

- Python
- R
- SQL
- Scala, Java, C++, Julia
- Javascript, PHP, Go, Ruby, Visual Basic

What we work as Data Scientist? 

- Business Analyst
- Database Engineer
- Data Analyst 
- Data Engineer
- Data Scientist 
- Research Scientist 

### Python 

Python is general purpose language and large standard library. For data science, there are three library below : 

- Scientific computing libraries like Pandas, Numpy, Scipy, and Matplotlib
- For AI it has Pytorch, TensorFlow, Keras, Scikit-learn
- Python can be used for Natural Language Processing(NLP) using the Natural Language Tool kit(NLTK)

### R 

Unlikely with Python, R is good for minimal year of programming and have very useful packages for data analytic.

### SQL 

SQL is the language useful in handling structured data, and managing data in relational databases. Knowing SQL will help us get jobs as a business and data analyst and is a must in data engineering and data science. When performing operations with SQL, the data is accessed directly. This can considerably speed up workflow executions. SQL is the interpreter between us and the databases. SQL is a ANSI standard, which means if we learn SQL and use if with one database we will be able to easily apply our SQL knowledge with many other databases. 

## 2.2 Data Science Workflow 

- Data Management : Process of persisting and retrieving data
- Data Integreation and Transformation(ETL) : Process of retrieving data from remote data management systems and transforming data and loading it into a local data management system
- Data Visualization : Part of an initial data exploration process
- Model Building : Process of creating machine learning or deep learning model using an appropriate algorithm with a lot of data
- Model deployment : Making such a machine learning or deep learning model available to third-party applications
- Model monitoring and assessment : Ensuring continuous performance quality checks on the deployed model and checking for accuracy, fairness, and adversarial robustness 
- Code asset management : Versioning and other collaborative features to faciliate team work 
- Data asset management : Brings the same versioning and collaborative components of data and supprots replication, backup, and access right managment
- Deployment environments(IDEs) : Tools that help the data sceientist to implement, execute, test, and deploy their work
- Execution environments : Tools where data preprocessing, model training, and deployment take place
- Fully integrated, Visual tooling components : Covers all the previous tooling components either partially or completely 

### Open Soruce Tools for Data Science 

- Data Management : MySQL, PostgreSQL, NoSQL(MongoDB, Spark CouchDB, Apahce Cassandra), HDFS 
- Data integreation and Transformation : Apache Airflow, KubeFlow, Apache Kafca, Apache Nifi, Apache SparkSQL, Node red
- Data Visualization : Programming Libraries, Hue, Kibana, Apache Superet
- Model Deployment : Apache PredictionIO, Seldon, SparkML, TensorFlow 
- Model monitoring : ModelDB, Prometheus, IBM AI fairness 360 
- Code Asset Management : Github, Gitlab, Bitbucket
- Data Asset Management : Apache Atlas, ODPI Egeria, Kylo 
- Deployment Environment : Jupyter Notebook, Apache Zepplin, Rstudio, Spyder
- Execution Environment : Apache Spark, Apache Flink
- Fully Integrated Environment : KNIME, Orange 


# 2.3 Package, API 

### Package 

- Framework 
    - Pandas : Offers data structures and tools for effective data clearning, manipulation, and analysis 
    - Numpy : Based on arrays, enabling us to apply mathmetical functions to these arrays
- Visualization : Matplotlib, Seaborn, Plotly 
- Machine Learning : Scikit-Learn, Keras, Tensorflow, Pytorch 

### API 

API : Application Programming Interface, which can talk with other software


# 2.4 Jupyter Notebook Source 

- Best Source : https://github.com/jupyter/jupyter/wiki/A-gallery-of-interesting-Jupyter-Notebooks
- EDA : https://nbviewer.jupyter.org/github/Tanu-N-Prabhu/Python/blob/master/Exploratory_data_Analysis.ipynb
- Data Integration : https://towardsdatascience.com/data-cleaning-with-python-using-pandas-library-c6f4a68ea8eb
- Clustering : https://nbviewer.jupyter.org/github/temporaer/tutorial_ml_gkbionics/blob/master/2%20-%20KMeans.ipynb

# 2.5 Github 

```Git
/* SSH key generate */ 
cat ~/.ssh/id_rsa.pub | clip
cat ~/.ssh/id_rsa.pub

cd
cd Downloads

git clone git@github.com:EDED-Hiscalifh/repository.git 

/* View content of the repository */
type README.md 

/* Open README.md */
notepad README.md
notepad test.txt 

git add test.txt 
git status 
git commit -m "text for commit" 
git push 

/* Branching and Merging */ 

git pull 

git branch new_branch /* Add a branch in master branch */ 
git checkout new_branch /* Switch to new_branch */ 
echo "content" >> filename.txt 

git push --set-upstream origin new_branch /* Add the file and push the file to new_branch */ 

git checkout main /* Switch the master branch */ 
git merge new_branch 

git push 

/* Fork and Pull */ 

git clone git@github.com:EDED-Hiscalifh/fork.git

git add . 
git commit -m "Made changes in README.md file"

git push
```

# 3. Methodology 

## 3.1 What is Methodology ? 

A system of methods used in a particular area of study or activity. 

- From problem to approach : 
    - What is the problem that we are trying to solve? 
    - How can we use data to answer the question? 
- Working with the data : 
    - What data do we need to answer the question? 
    - Whrere is the data coming from (identify all sources) and how will we get it? 
    - Is the data that we collected representative of the problem to be solved? 
    - What additional work is required to manipulate and work with data? 
- Deriving the answer : 
    - In what way can the data be visualized to get the answer that is required? 
    - Does the model used really answer the initial question or does it need to be adjusted? 
    - Can we put the model into practice? 
    - Can we get construcive feedback into answering the question? 
    
## 3.2 Methodology workflow 

- Business understanding : Business undefstanding is checking the problem or the goal of particular business wer are working. In this section, we need to find the problem and specific goal of stackholder or board of directors. 
- Analytic understanding : In this section, we need to select which model is the best way to solve the problem in Business understanding. 
- Data requirements : In this section, we identifies the necessary data content, formats and souces for initial data. 
- Data collection : After identifying data requirements, we now collect data. (extracting data + When I usually do 'Importing data' is the stage of data collection.)

## 3.3 CRISP-DM 

- Data understanding : https://www.dummies.com/programming/big-data/phase-2-of-the-crisp-dm-process-model-data-understanding/. It can be same as Basic EDA what i usually use in analyzing.
- Data preparation : Transforming data for model(drop duplicated, invalid values, ...). Feature engineering is the process of using domain knowledge of the data to create feature that make the machine learning algorithm work. 
- Modeling : Focus on developing models that are either descriptive or predictive using machine learning.
- Model Evaluation : Allows the quality of the model to be assessed and give opportunity to see if it meets the initial request.
- Deployment : After fishish model evaluation, we now solve the problem.
- Feedback : If there are problem when we deploy using model, we feedback anytime and refine model talking with board.

# 4. Python 

## 4.1 Types 

There are some type when we use in programming

- int : single number without point
- float : including int, usually with point 1.0, 2.043
- string : 'A' or words
- boolean : meaning True(1), False(0)

There are some function when we want to change types. Becareful when we use int(), because it drop number behind point.

```Python
float() 
int()
bool()
str()
```

## 4.2 Expression 

```Python
+ - * 
/ #divide with float 
// #divide with single number
```

## 4.3 Variable 

We assign what we want to remember or to use to the variable. 

```Python
my_variable = 1
my_variable = 1/5 #past of values are disappeared
```

## 4.4 String Operation

```Python
#indexing of string
Name = 'Jeong Seok Gyu'
Name[0] -> J
Name[-1] -> u
Name[::2] #select every even index J,o,g,S,o, ,y
Name[0:5:2] #select every even index in 0:5

len() 
Name + 'is best'
3*name 
\n #
\t #tab
.upper()
.lower()
.replace('want to change', 'want to be change')
.find()
```

## 4.5 Tuple 

Tuples are an ordered sequence written as comma-separted elements within parenthese. when we want to add some tuple to another tuple, then we add them within parenthese.

```Python
tuple = (0,1,2,3,4,5)
tuple[0]
tuple[0:4]

tuples[0] = 4 <- error!

#Nesting indexing
tuple1 = (1,2,(1,2,3),(1,2,3,4),5)
tuple1[2][1] <- 2
```

Same as str, indexing of tuples are same. But assigning of tuples can't be done. Because main property of tuples is 'Immutable'.


## 4.6 List 

List can involve many structure such as str, float, tuple, even a tuple. Indexing of list is same as tuple.

Unlikely with tuple, List is mutable so that we can change them.

```Python
.extend()
.append()

for examples, 
l = [1,2,3,4]
l.extend([1,2,3])
l -> [1,2,3,4,1,2,3]
l.append([1,2,3])
l -> [1,2,3,4,[1,2,3]]


del() #delete index of list
split() #split in (seperator)
```

## 4.7 Dictionary

In list and tuple, we index by calling number index, but in dictionary, we index by calling key which is not type of int. 

```Python
Dict = {'one' : 'one', 'two' : (1,2,3,4)}

Dict['one'] -> one
Dict['two'][0] -> 1

.keys()
.values() #when we want to know whole keys and values
```

## 4.8 Sets 

```Python
set = {'one', 'one', 'two', 'two', 'three', 'three'}
set => {'one' ,'two', 'three'}

list = ['one', 'two', 'three']
set(list)

.add() 
.remove()
.union() #outerjoin sets
.difference() 
.intersection()
.issubset() #check True of subset
```

## 4.9 Condition

Condition means result of operation in two situation, True and False. And can apply to all types.

```Python
i = 8
i > 5 -> False
i > 2 -> True
i >= 8 -> True
```

Branching is used in if statement. If condition is true, then code in if statement works, if not it doesn't work. 'else' condition works with if statement when return of if statement is False. 'elif' statement is contraction version of 'else if' so that it can be used between if statement and else statement. 

```Python
if (your_age>20) : 
     print('you can drink beer')
elif(your_age<10) :
     print('you can't enter')
else : 
     print('you can't drink beer')
```

If statement can be with logical operation 'OR', 'AND'. 

```Python
if (car_year<10)or(car_year>20) : 
     print('Not good for sold')
else : 
     print('Good for sold')
```

## 4.10 Loop

```Python
range(N) -> [0,...,N-1]
range(10,15) ->[10,11,12,13,14]
```

for loops statement repeat index of created by range() indexing value of list.

```Python
loop = [1,2,3,4]

for i in range(0,5) :
     loop[i] = 'changed'
-> loop = ['changed', 'changed', 'changed', 'changed']

for i, value in enumerate(loop) : 
     print(i, value)
-> 0, 'changed'; 1, 'changed'; 2, 'changed'; 3, 'changed'

#enumerate return index and value of object in enumerate()
```

while statement works untill there isn't any statement that is true. 

```Python
list = [1,2,3,4,1,2,3]
New_list = []
i = 0

while(list[i] == 1) :
     New_list.append(list[i])
     i = i+1
```

## 4.11 Function

Functions take some input then produce some output or change. Once we complete long process into function, we can use function when we want. There are function in two type. One is 'built-in-function', the other is 'own function'.

```Python
def add(a) : 
    b = a+1 
    return b

#multiple parameter(a,b) :
def add(a,b) :
    c = a+b
    return c

#collecting argument
def MyNames(*names) :
    for name in names :
         print(name)
MyNames('Hong', 'Gill', 'Dong')
```

## 4.12 Exception

It is important to know what error has been occured. When we implement code in try :, if there are some errors in code, then except : code will implement. If there are no errors in code, then else : code will implement.

```Python
try :
   ...
except ['error']:
    ...
except ['error']:
    ...
else :
```

## 4.13 Objects and Class 

Every object has a type, an internal data representation, a set of procedures for interacting with the object.

- Class : blueprint for creating Objects
- Objects : Instance of Class 

```Python
class Circle(object) : -> define our class
    def __init__(self, radius, color) : 
        self.radius = radius ;
        self.color = color ;
# Data attributes used to initialize each instance of the class
```

## 4.14 Read Files 

```Python
#open
File1 = open('Path' + 'file name', 'w/r/a')
with open('Path' + 'file name', 'w/r/a') as File1 :
    ...

.readlines() -> read full line in list
.readline() -> read only one line

#after open
.name -> check file name
.mode -> check file reading mode
.close() # We don't have to use file.close() when we use with comprehensions 

#writing File
File1 = open('Path' + 'file name', 'w')
File1.write('blabla')

with open('Path' + 'file_name', 'w') as File1 :
    File1.write('blabla')

#adding File
File1 = open('Path' + 'file name', 'a')
with open('Path' + 'file name', 'a') as File1 :
```

## 4.15 Open 

```Python
import pandas
import pandas as pd

df = pd.read_csv('Path' + 'file name')
df = pd.read_excel('Path' + 'file name')

df.to_csv('file name')
```

## 4.16 Numpy 

```Python
import numpy as np

#1-D array
a = np.array([0,1,2,3,4,5])

#checking 
a.size -> 5
a.ndim -> 1
a.shape -> (5,1)

#vector addition and substraction
z = u + v
z = u - v
z = 2 * y
np.dot(u,v)

#Universal Functions
.mean()
.max()
np.pi
np.sin(x)
np.linspace(-2,2,num = 5)
#2-D array
a = [[1,2,3], [4,5,6], [7,8,9]]
A = np.array(a)

#checking 
a.size -> 9
a.ndim -> 2
a.shape -> (3,3)

#indexing
A[i][j] -> i : row, j : column
A[a:b,c:d]
```

# 5. SQL 

## 5.1 What is SQL ? 

**SQL(Structured Query Language)** is a language used for relational databases to query or get data out of a database. Relational databases mean table data form such a dataframe. 

Data is a collection of facts in the form of words, numbers, or even pictures. Data is one of the most critical assets of any business. It is used and collected practically everywhere. 

Databases is a repository of data. It is a program that stores data and also provides the functionality for adding, modifying, and querying that data. A set of software toosl for the data in the database is called a database management system or DBMS for short. The terms databases, database server, database system, data server, and data management systeems are often interchangeably. 

## 5.2 DML 

### SELECT 

It seems like df.loc or df.iloc in pandas library. 

```SQL 
SELECT COLUMN1, COLUMN2, ... 
  FROM TABLE1 ;

SELECT COLUMN1, COLUMN2, ... 
  FROM TABLE1 
 WHERE ID = 'CA'; 
```

### COUNT, DISTINCT, LIMIT 

- COUNT() : Built-in database function that retrives the number of rows that match the query criteria. 
- DISTINCT() : Used to remove duplicated values from a result set. 
- LIMIT : Used for restricting the number of rows retrieved from the database. 

```SQL
SELECT COUNT(*) 
  FROM TABLE ;

SELECT COUNT(COLUMN) 
  FROM TABLE 
 WHERE ID = 'CA';

SELECT DISTINCT COLUMN 
  FROM TABLE; 

SELECT COUNT(DISTINCT COLUMN) 
  FROM TABLE 
 WHERE ID = 'CA';

SELECT * 
  FROM TABLE 
 LIMIT n1 
OFFSET n2;
```

### INSERT, UPDATE, DELETE

- INSERT : Used to add new rows to a table. We can also add multiple rows.
- UPDATE : After a table created, the table can altered with UPDATE claus.
- DELETE : Delete rows in specific condition. 

```SQL 
INSERT INTO table_name (column1, column2, ... )
VALUES (value1, value2, ... );

UPDATE table_name
SET column1 = value1, 
    column2 = value2, ...
WHERE condition;

DELETE FROM table_name
 WHERE condition;
```

## 5.2 Relational Databases 

RDBMS is most used data model. It is stored in a tables and allowed for data independence. ER Database model have three features below : 

- Entity : Independent objects which have attributes. 
- Attributes : Properties of entity and map to columns in table.
- Primary Key : Uniquely identifies a specific row in a table(entity). 

There are two types of commands. 

- DDL(Data Definition Language) : Define, Change, Drop table (CREATE, ALTER, DROP, TRUNCATE)
- DML(Data Manipulation Language) : Read, Modifying data for CRUD operation (INSERT, UPDATE, DELETE, SELECCT) 

## 5.3 DDL 

### CREATE

```SQL
CREATE TABLE table_name
     (
     column_name1 datatype optional_parameters, 
     column_name2 datatype,
     column_name3 datatyoe,
     ...
     )

CREATE TABLE author (
     author_id CHAR(2) PRIMARY KEY NOT NULL, 
     lastname VARCHAR(15) NOT NULL,
     firstname VARCHAR(15) NOT NULL,
     email VARCHAR(40),
     city VARCHAR(15),
     )
```

### ALTER 

```SQL
ALTER TABLE table_name
  ADD COLUMN column_name datatype;

ALTER COLUMN column_name 
  SET DATA TYPE datatype;
 DROP COLUMN column_name
```

### DROP 

```SQL
DROP TABLE table_name;
```

### TRUNCATE 

```
TRUNCATE TABLE table_name
     IMMEDIATE; 
```

## 5.4 SELECT 

### SELECT 

```SQL
/* Basic form using WHERE */ 
SELECT COLUMN1, COLUMN2, ... 
  FROM TABLE1 ;

SELECT COLUMN1, COLUMN2, ... 
  FROM TABLE1 
 WHERE ID = 'CA';
 
/* Extract records matching pattern */ 
SELECT COLUMN1, COLUMN2, ... 
  FROM TABLE1 
 WHERE COLUMN1 LIKE (predicate)

SELECT COLUMN1 
  FROM table 
 WHERE firstname LIKE R%
 
/* Use between rather than using >= and <= */ 
SELECT title, page 
  FROM BOOK 
 WHERE pages >= 290 and <= 300

SELECT title, page 
  FROM BOOK 
 WHERE pages betwen 290 and 300

/* Use in rather than using multiple or */ 
SELECT firstname, lastname, country 
  FROM AUTHOR 
 WHERE country = 'AU' OR country = 'BR'

SELECT firstname, lastname, country 
  FROM AUTHOR 
 WHERE coutnry IN ('AU', 'BR')
```

### Sorting 

We can also get result in form we want to see. The default setting of ORDER BY is ascending. If we want to order in decending order, then we add DESC at last. 

```SQL
SELECT COLUMN1 
  FROM TABLE 
 ORDER BY column(or indicated index number)

SELECT COLUMN1 
  FROM TABLE 
 ORDER BY column(or indicated index number) DESC
```

### Grouping 

We drop duplicated data by using DISTINCT function. If we want to see how many duplicated data by column, then we use GORUP BY clause.

```SQL
SELECT COLUMM1, COUNT(COLUMN1) 
  FROM TABLE GROUP BY COLUMN1

SELECT COLUMN1, COUNT(COLUMN1) As column 
  FROM TABLE 
 GROUP BY COLUMN1
```

If we use just GROUP BY, column name of COUNT() will be just 2. We can use "AS" to rename those column name. 

HAVING clause is used in GROUP BY same as WHERE. Unlikely with WEHRE, WHERE is used for whole table, HAVING is used in GROUP BY. 

```SQL 
SELECT COLUMN1, COUNT(COLUMN1) 
  FROM TABLE AS column 
 GROUP BY COLUMN1 HAVING (prediciate)
```

### Conclusion 

```SQL
Select column1, count(column1) as new_colname, D.disticnt(column2), avg(column1), ... 
  FROM ~

/* if we want count of column as new_colname we use count(), 'as' */ 
/* we can retrieve from other table col as D.colname */ 


FROM TABLE AS T, TABLE2 AS T2

/* we can retrieve table's data by using as */ 

/* After FROM */  
WHERE (predicate);
WHERE column LIKE '(predicate)%';
WHERE column (predicate) AND/OR (predicate);
WHERE column BETWEEN n1 and n2;
WHERE column IN (set);

ORDER BY column;
ORDER BY column DESC;
WHERE ~ ORDER BY column DESC;

GROUP BY column;
GROUP BY column ORDER BY column;
GROUP BY column HAVING (predicate) ORDER BY column;
```

## 5.5 Built-in Function 

### Built-in function

```SQL
SUM()
MIN()
MAX()
AVG()

/* Scalar, String function */ 
ROUND()
LENGTH()
UCASE() /* return upper case from string */
LCASE() /* return lower case from string */

/* all built in function can be used with WHERE */
SELECT SUM(column1) 
  FROM TABLE 
 WHERE (predicate) ;

/* Data, Time function */ 
DAY()
Datecolum + 3 Days
CURRENT_DATE
CURRENT_TIME
/* it also can be used with WHERE */ 
```

### Sub Queries 

We use sub-queries becuase built-in function cannot evaluate function in the WHERE clause. 

```SQL 
SELECT * 
  FROM TABLE 
 WHERE column > AVG(column); /* error! */ 
 
SELECT * 
  FROM TABLE 
 WHERE column > (SELECT AVG(column) 
                   FROM TABLE);
```

Sub-queries used in front of FROM, after FROM when error occurs. 

```SQL 
SELECT cloumn1, column2, AVG(column1) 
 FROM TABLE; /* error! */ 
 
SELECT column1, column2, (SELECT AVG(column1) 
                            FROM TABLE) AS AVG_column1
  FROM TABLE; 

SELECT * 
  FROM (SELECT column1, column2, column3 
          FROM TABLE) AS NEW_TABLE;
```

### Multiple Tables 

```SQL
/* Way1 */ 
SELECT * 
  FROM TABLE 
 WHERE column IN (SELECT column 
                    FROM TABLE1);

SELECT * 
  FROM TABLE 
 WHERE column IN (SELECT column 
                    FROM TABLE1 
                   WHERE (predicate));

/* Way2 */ 
SELECT * 
  FROM TABLE1, TABLE2;
  
SELECT * FROM TABLE1, TABLE2 
 WHERE TABLE1.column = TABLE2.colum1;
```

# 6. Database on Python

## 6.1 Code using DB-API 

We can access database using python library DB-API. 

- from dbmodule import connect 
- Create connection object : Connection = connection('dbname', 'username', 'pswd') 
- Create a cursor object : cursor = connection.cursor() 
- Run queries : cursor.execute(query) 

## 6.2 Connecting to DB 

```Python
import ibm_db

#Replace the placeholder values with your actual Db2 hostname, username, and password:
dsn_hostname = "YourDb2Hostname" # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = "YourDb2Username"        # e.g. "abc12345"
dsn_pwd = "YoueDb2Password"      # e.g. "7dBZ3wWt9XN6do0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"

#Create DB2 database connection
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )
```

## 6.3 Manipulate DB using Python 

```Python
#Create table
createQuery = 'sql for CREATE TABLE'
creatstmt = ibm_db.exec_immediate(conn, createQuery)

#Insert table
insertQuery = 'sql for INSERT INTO TABLE'
insertstmt = ibm_db.exec_immediate(conn, insertQuery)

#Visual table
sql = 'SELECT * FROM TABLE'
selectstmt = ibm_db.exec_immediate(conn, sql)
ibm_db.fetch_both(selectstmt)

#retreive data into pandas 
import pandas
import ibm_db_dbi

pconn = ibm_db_dbi.Connection(conn)
selectQuery = "select * from INSTRUCTOR"
pdf = pandas.read_sql(selectQuery, pconn)
```

## 6.4 %Magic

We can use sql without setting variable. %magic is add-on function in IPython system, which consisted with %, %%.

- % : execute code in one line
- %% : execute code in all line 

```Python
%load_ext sql

# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name

# type in your query to retrieve list of all tables in the database for your db2 schema (username)
%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES \
      where TABSCHEMA not in ('SYSIBM', 'SYSCAT', 'SYSSTAT', 'SYSIBMADM', 'SYSTOOLS', 'SYSPUBLIC')

# type in your query to retrieve the number of columns in the SCHOOLS table
%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
%sql select distinct(NAME), COLTYPE, LENGTH from SYSIBM.SYSCOLUMNS where TBNAME = 'SCHOOLS'


%sql select Elementray,_Middle,_or_High_School from SCHOOLS 
%sql select SAFETY_SCORE from SCHOOLS order by SAFETY_SCORE DESC LIMIT 100
...
```